<div id="orders-container" style="position:relative; top:-50px;">
<%= form_with(model: @vendor,  local: true) do |f| %>
    <p>
        <%= f.label :vendor_name, "Vendor Name" %><br />
        <%= f.text_field :vendor_name%>
    </p>
    <p>
        <%= f.submit 'Submit' %>
    </p>
<% end %>
</div>