@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
margin: 0;
padding: 0;
width:100%;
}

body {
    overflow:hidden;
    font-family:'Lato';
}

.title {
    padding:none;
    margin:none;
    line-height:24pt;
    padding-bottom:20px;
    display:inline;
    height:24px;
}

#orders-container {
    margin-left:350px;
    width:100%;
    padding-right:10%;
    font-family:inherit;
    padding-top:10%;
}

#left-sidebar .closebtn {
    position:absolute;
    margin-left:230px;
    font-size:56px;
}

#left-sidebar ul {
    list-style-type:none;
    color:rgb(197, 197, 197);
    font-size:18px;
    line-height:18px;
    padding:0;

}

hr.sidebar {
    border:1px outset #818181;
    width:auto;
}

#left-sidebar li, a {
    font-family:'Montserrat';
    padding-bottom:10%;
    padding-top:10%;
    padding-right:10px;
    margin:0;
    text-decoration:none;
    font-size:22px;
    padding-left:5%;
}

#left-sidebar a {
    color:rgb(197, 197, 197);
}

#left-sidebar {
    background-color:#4b4b4b;
    position:fixed;
    display:block;
    padding:0;
    margin:0;
    height:100%;
    top:0;
    left:0;
    width:300px;
    overflow-x:hidden;
}
.openbtn {
    font-size:35px;
    cursor:pointer;
    background-color:transparent;
    border:none;
    width:55px;
    display:block;
    position:absolute;
    left:0;
    color:#4b4b4b;
}

.sidebar-logo {
    content: url('http://i.imgur.com/bvJqZQn.png');
    width:200px;
    margin-top:8%;
    margin-left:25px;
}


#notice {
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

input[type=submit] {
    margin-top:10px;
}

label {
    padding-bottom:10px;
    padding-top:10px;
    font-size:15px;
    line-height:15px;
    font-family:inherit;
    font-weight:bold;
}
input {
    height:25px;
    font-size:15px;
    font-family:inherit;
}

select {
    font-size:15px;
    background-color:white;
    padding:5px;
}

.field input {
    border-bottom:1px solid rgb(194, 194, 194);
    border-top:none;
    border-left:none;
    border-right:none;
    width:100%;
    height:45px;
    font-size:25px;
    font-family:inherit;
    color:rgb(43, 43, 43);
}

.actions input[type=submit]{
    background-color: #4485f4;
    border: none;
    border-radius:10px;
    width:82%;
    color: white;
    margin-top:10%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
    line-height:18pt;
    font-family:inherit;
    margin-left:25px;
    margin-right:25px;
}


.field {
    font-family:inherit;
    width:80%;
    margin:0 auto;
}

#search-bar {
    width:200px;
    padding-bottom:20px;
}

th {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding-left:10px;
    padding-right:10px;
    padding:10px;
    font-family:inherit;
}

.table-grid {
    display:grid;
    grid-template-columns:150px 200px;
    grid-template-rows:auto;
    font-family:'Montserrat';
    font-size:20px;
    margin-top:5%;
}

.no-results {
    margin-top:5%;
    font-family: 'Montserrat';
    font-size:18px;
}

.table-grid-products {
    display:grid;
    grid-template-columns:350px 200px;
    grid-template-rows:auto;
    font-family:'Montserrat';
    font-size:20px;
    margin-top:5%;
}

.table-grid a {
    font-size:15px;
}

.row-name {
    padding-bottom:10px;
    vertical-align:middle;
    height:20px;
}

.row-links {
    height:20px;
    display:inline-block;
    vertical-align:middle;
    line-height:15px;
}

.crud {
    display:inline;
}

#search-svc {
    height:100px;
    width:200px;
    float:right;
    padding-right:6%;
}

#search-svc input input[type=submit] {
    height:20pt;
    padding:5px;
    display:inline;
    position:relative;
    left:300px;
}

tr:nth-child(odd){
    background-color: #afd5ff;
    color: #4b4b4b;
  }

.table {
    font-family:'Lato';
    font-size:18px;
    color:#4b4b4b;

}

.new {
    display:inline;
}


@media only screen and (min-width: 900px) {
    #orders-container { 
        width:60%;
    }
}