<div id="orders-container">
<h1>Add a new Product</h1><br><br>
<%= form_with(model: @product,  local: true) do |f| %>
    <p>
        <%= f.label :product_name, "Product Name/Price" %>
        <p><i>ex. Dell Optiplex 3010 - $567.87</i></p>
        <%= f.text_field :product_name%><br>
    </p>
    <p>
        <%= f.submit 'Submit' %>
    </p>
<% end %>
</div>